@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
  font: normal 100%/1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h2,h3,h4 {
  margin: 0;
}



.center {
  text-align: center;
}

header {
  background-color: #cbcbcb;
}

.venus {
  margin: 0;
  text-align: center;
}

.venus {
  margin: 0;
  text-align: center;
}

nav a{
  text-decoration: none;
  color: #99b4ce;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0em;
}

header nav li {
  padding: 0.5em;
}

footer nav {
  text-align: left;
}

.img-flex {
  width: 100%;
  display: block;
}

.gutter {
  padding: 1em;
}

.pad {
  padding-left: 1rem;
  padding-right: 1rem;
}

dd {
  margin: 0;
}

footer {
  background-color: #cbcbcb;
  padding: 1em;
}

.expo {
  background-color: #e2e2e2;
  margin-top: 0;
  padding: 1em;
  text-align: center;
}

.banner {
  text-align: center;
  background-color: #e2e2e2;
  padding: .5em;
  margin-bottom: 1em;
  margin-top: 0;
}

.lightestgrey {
  background-color: #efefef;
}

.lightgrey {
  background-color: #e2e2e2;
  margin: 0;
}

.darkgrey {
  background-color: #1579db;
}

.block {
  background-color: #1579db;
  color: white;
  width: 100%;
  padding: 0.5em;
  display: block;
}

a {
  text-decoration: none;
  color: #99b4ce;
}

@media only screen and (min-width: 24em) {

  nav {
    text-align: center;
  }

  li {
    display: inline-block;
  }
}

@media only screen and (min-width: 38em) {
  .venus {
    text-align: left;
  }

  .space {
    padding-right: 1em;
  }

}

@media only screen and (min-width: 60em) {

  .space {
    padding-right: 0em;
  }

  html {
    font-size: 110%;
  }

  footer nav {
    text-align: center;
  }

  h2 {
    padding-right: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
  }

  p {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }
}
