@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
  font: normal 100%/1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, ol, dl {
  margin: 0 0 1.5rem 0;
}

.yotta {
  font-size: 2.987em;
  line-height: 1.004;
}

.zetta {
  font-size: 2.489em;
  line-height: 1.205;
}

h1, .exa {
  font-size: 2.2395rem;
  line-height: 1.3396;
}

h2, .peta {
  font-size: 1.728em;
  line-height: 0.868;
  margin: 0;
}

h3, .tera {
  font-size: 1.44em;
  line-height: 1.042;
  margin: 0;
}

.center {
  text-align: center;
}

.giga {
  font-size: 1.2em;
  line-height: 1.25;
}

.mega {
  font-size: 1em;
  line-height: 1.5;
}

.kilo {
  font-size: 0.833em;
  line-height: 1.801;
}

.push {
  margin-bottom: 1.5rem;
}

.half-push {
  margin-bottom: 0.75rem;
}

.push-double {
  margin-bottom: 3rem;
}

.pad-top, .pad-t {
  padding-top: 1.5em;
}

.pad-buttom, .pad-b {
  padding-bottom: 1.5em;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3em;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3em;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.75em;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.75em;
}

header {
  background-color: #cbcbcb;
}

.venus {
  margin: 0;
  text-align: center;
}

.venus {
  margin: 0;
  text-align: center;
}

nav a{
  text-decoration: none;
  color: #99b4ce;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0em;
}

header nav li {
  padding: 0.5em;
}

footer nav {
  text-align: left;
}

.img-flex {
  width: 100%;
  display: block;
}

.gutter {
  padding: 1em;
}

dd {
  margin: 0;
}

footer {
  background-color: #cbcbcb;
  padding: 1em;
}

.expo {
  background-color: #e2e2e2;
  margin-top: 0;
  padding: 1em;
  text-align: center;
}

.banner {
  text-align: center;
  background-color: #e2e2e2;
  padding: .5em;
  margin-bottom: 1em;
}

.lightgrey {
  background-color: #e2e2e2;
  margin: 0;
}

.block {
  background-color: #1579db;
  color: white;
  width: 100%;
  padding: 0.5em;
}



@media only screen and (min-width: 24em) {

  nav {
    text-align: center;
  }

  li {
    display: inline-block;
  }
}

@media only screen and (min-width: 38em) {
  .venus {
    text-align: left;
  }

  .space {
    padding-right: 1em;
  }

}

@media only screen and (min-width: 60em) {

  .space {
    padding-right: 0em;
  }

  html {
    font-size: 110%;
  }

  footer nav {
    text-align: center;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }
}
